{% extends 'base.html' %}

{% block title %}Administração{% endblock %}


{% block main %}
    {% if user.is_authenticated %}
        <p>Olá {{ user.username }}</p>
        <a href="{% url 'logout' %}">Sair</a>
    {% endif %}
    <p>
    <form action="">
        <label>nome</label><input type="text" name="nome">
        <label>sobrenome</label><input type="text" name="sobrenome">

        <button type="submit">Pesquisar</button>
    </form>
    </p>
    <ul>
    {% for person in persons %}

        <li>
            <a href="{% url 'person_update' person.id %}">{{ person.first_name }}</a> |
            <a href="{% url 'person_delete' person.id %}" class="btn btn-danger">DELETAR</a>
        </li>

    {% endfor %}
    </ul>

    <br>

    <a href="{% url 'person_new' %}" class="btn btn-warning">Novo Cliente</a>
{% endblock %}